/*html {
    overflow-y: scroll;
}*/

body {
    color: #444;
    /*background-color: #FCFCFF;*/
    /*background-color: #FFFFFF;*/
    /*font-size: 16px;*/
    margin:1em auto;
    max-width:55em;
    /*padding:0 .62em;*/
    font-family: 'Merriweather', serif;
    font-size: 14px;
    /*font-weight: 'lighter';*/
}

@media print{
    body{
        max-width:none
    }
}


div#break {
    clear: both;
    border-bottom: 1px solid #777;
    margin-bottom: -1em;
}

div#header {
    padding: 0em 1em;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
}

div#logo a {
    color: #444;
    float: left;
    font-size: 28px;
    text-decoration: none;
}

div#navigation {
    text-align: right;
    font-size: 12px;
    text-transform: uppercase;
}

div#navigation a {
    color: #444;
    text-decoration: none;   
}

div#footer {
    clear: both;
    border-top: solid 1px #777;    
    color: #555;
    font-size: 12px;
    /*margin-top: 30px;*/
    text-align: right;
}

div#content {
    clear: both;
    padding: 0em 1em;
}

div.corecontent {

}

div.info {
    border-top: solid 1px #CCC;
    color: #555;
    font-size: 14px;
    font-style: italic;
    text-align: right;
    padding: 1em 0em;
}

span.abstract {
    font-style: italic;
    padding: 0px 5px;
}

.tag {
    font-size: 9px;
    color: #666;
    padding: 2px;
    border: solid 1px #EEE;
}

p {
    padding: 0 1em;
}

h1, h2, h3, h4, h5, h6 { 
   /*font-family: 'Merriweather Sans', sans-serif;*/
   font-family: 'Merriweather', serif;
   font-weight: inherit;
   /*text-decoration: underline;*/
   color: #444;
}

h1 {
    font-size: 32px;
    text-align: right;
    /*border-right: 1px solid #CCCCCC;*/
    padding: 10px 00px;
    margin: 0px 0px;
    /*margin-bottom: 10px;*/
}

h2 {
    /*border-left: 1px solid #CCCCCC;*/
    font-size: 20px;
    text-align: left;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    color: #777777;
    background-color: inherit;
    font-size: 14px;
}

hr {
    height: 1px;
    border: 0;
    color: #FF0000;
}

p, blockquote, ul, ol, dl, li, table, pre {
    margin: 15px 0;
}

code, pre {
    border-radius: 3px;
    background-color: #F0F0FF;
    color: #000;
}

code {
    font-size: 12px;
    border: 1px solid #EAEAEA;
    margin: 0 2px;
    padding: 0 5px;
}

pre {
    border: 1px solid #CCCCCC;
    line-height: 1.25em;
    overflow: auto;
    padding: 6px 10px;
}

pre > code {
    border: 0;
    margin: 0;
    padding: 0;
}

/*Link code from: http://mrmrs.io/links/ */
a {
  transition: color .4s;
  color: #265C83;
  text-decoration: none;
}

a:link,
a:visited { color: #265C83; }
a:hover   { color: #7FDBFF; }
a:active  {
  transition: color .3s;
  color: #007BE6;
}

.link { text-decoration: none; }

blockquote {
    margin: 1em 3em;
    color: #999;
    border-left: 2px solid #999;
    padding-left: 1em; 
}

.math.display {
    display:table;
    margin:0 auto;
}


/* Syntax highlighting stuff */
/* Generated by pandoc. */
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre
   { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none;}
td.lineNumbers { border-right: 1px solid #DADADA; text-align: right; color: #DADADA; padding-right: 5px; padding-left: 5px; }
td.sourceCode { padding-left: 5px; }
.sourceCode span.kw { color: #007020; font-weight: bold; }
.sourceCode span.dt { color: #902000; }
.sourceCode span.dv { color: #40a070; }
.sourceCode span.bn { color: #40a070; }
.sourceCode span.fl { color: #40a070; }
.sourceCode span.ch { color: #4070a0; }
.sourceCode span.st { color: #4070a0; }
.sourceCode span.co { color: #60a0b0; font-style: italic; }
.sourceCode span.ot { color: #007020; }
.sourceCode span.al { color: red; font-weight: bold; }
.sourceCode span.fu { color: #06287e; }
.sourceCode span.re { }
.sourceCode span.er { color: red; font-weight: bold; }

code {
    font-family: monospace; /*'Fantasque Sans Mono',*/ 
    font-size: 12px;
}

pre {
    /*background: #F3F3F3;*/
    padding: 5px;
    margin-left: -5px;
    overflow-x:auto;/* Add scroll bar if code overflows */
    -moz-tab-size: 6; /*fix massive tabs*/
    -o-tab-size:   6;
    tab-size:      6;
    margin: inherit -1em;
}

#homepageCode > pre > code
{   
    font-size: 12px !important;
    white-space: pre-wrap;       
    white-space: -moz-pre-wrap;  
    white-space: -pre-wrap;      
    white-space: -o-pre-wrap;    
    word-wrap: break-word;       
}
