@font-face {
    font-family: 'Libertinage';
    src: url('Libertinagec.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Linear';
    src: url('LinearRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


body {
    color: #111;
    /*font-size: 16px;*/
    margin:1em auto;
    max-width:40em;
    padding:0 .62em;
    font-family: 'linear', 'Helvetica', sans-serif;
    /*font:1.0em/1.62em sans-serif;*/
    font-size: 16px;

}

@media print{
    body{
        max-width:none
    }
}


div#header {
    border-bottom: 1px solid #777;
    margin-bottom: -10px;
    padding: 12px 0px 22px 0px;
}

div#logo a {
    font-family: 'Libertinage', 'Palatino', serif;
    color: #444;
    float: left;
    font-size: 40px;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
    bottom 0;
}

div#header #navigation a {
    color: #444;
    font-size: 12px;
    font-weight: thin;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    border-top: solid 1px #777;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

h1 {
    color: #444;
    font-size: 25px;
    text-align: right;
    border-right: 1px solid #CCCCCC;
    padding-right: 20px;
    margin-bottom: 10px;
}

h2 {
    border-left: 1px solid #CCCCCC;
    padding-left: 10px;
    color: #444;
    font-size: 20px;
    text-align: left;
}

h3 {
    font-size: 18px;
    color: #444;
    text-decoration:underline
}

h4 {
    font-size: 16px;
    color: #444;
    text-decoration:underline
}

h5 {
    font-size: 14px;
    color: #444;
    text-decoration:underline
}

h6 {
    color: #777777;
    background-color: inherit;
    font-size: 14px;
    text-decoration:underline
}

hr {
    height: 1px;
    border: 0;
    color: #CCCCCC;
    background-color: #CCCCCC;
}

hr {
    /*border: 0;
    height: 1px;
    color: #CCCCCC;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}*/


p, blockquote, ul, ol, dl, li, table, pre {
    margin: 15px 0;
}

code, pre {
    border-radius: 3px;
    background-color: #F8F8F8;
    color: inherit;
}

code {
    font-size: 12px;
    border: 1px solid #EAEAEA;
    margin: 0 2px;
    padding: 0 5px;
}

pre {
    border: 1px solid #CCCCCC;
    line-height: 1.25em;
    overflow: auto;
    padding: 6px 10px;
}

pre > code {
    border: 0;
    margin: 0;
    padding: 0;
}

a, a:visited {
    color: #4183C4;
    background-color: inherit;
    text-decoration: none;
}

blockquote {
    margin: 1em 3em;
    color: #999;
    border-left: 2px solid #999;
    padding-left: 1em; 
}
