/* 
    Generic settings for the whole file
*/
body {
    color: #444;
    background-color: #FFFFFF;
    margin:1em auto;
    max-width:48%;
    font-family: 'Merriweather', serif;
    font-size: 100%;
    font-weight: lighter;
}

/* I don't know why this is here? */
@media print{
    body{
        max-width:none
    }
}

/* 
    Style the heading, and the break between heading and text 
*/
div#break {
    clear: both;
    border-bottom: 1px solid #777;
    clear: both;
    padding-top: 0.5em;
    margin-bottom: -1em;
}

div#header {
    padding: 0em 1em;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
}

div#logo a {
    color: #444;
    float: left;
    font-size: 170%;
    text-decoration: none;
}

div#navigation {
    text-align: right;
    font-size: 80%;
    text-transform: uppercase;
}

div#navigation a {
    color: #444;
    text-decoration: none;   
}


/* 
    Style the footer at the bottom of each page 
*/
div#footer {
    font-family: 'Raleway', sans-serif;
    clear: both;
    border-top: solid 1px #777;
    padding-top: 0.5em;
    color: #555;
    font-size: 80%;
    text-align: right;
}

/*  
    Style the content (main body) of a page 
*/
div#content {
    clear: both;
    padding: 0em 1em;
}

div.info {
    border-top: solid 1px #CCC;
    color: #555;
    font-size: 85%;
    font-style: italic;
    text-align: right;
    padding: 1em 0em;
}

.unfinished { 
    text-align: center;
    padding: 0.5em 0em;
    border: solid 1px #CCC;
    background: #FEE;
}

.tag {
    font-size: 65%;
    color: #666;
    padding: 0.15em;
    border: solid 1px #EEE;
}

p {
    padding: 0 1em;
}

/* 
    Style unordered lists so that they're nicer looking
 */
ul.postlist {
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
}

li.postitem {
    padding-left: 2em;
}

li.postitem:before {
    content: "~"; /* Insert content that looks like bullets */
    /*padding-right: 8px;*/
    /*color: blue; */
} 

/*
    Style headings within a body of text 
*/
h1, h2, h3, h4, h5, h6 { 
   font-family: 'Merriweather', serif;
   font-weight: inherit;
   font-size: inherit;
   color: #444;
}

h1 {
    font-size: 190%;
    text-align: right;
    /*padding: 0.5em 0em;*/
    padding-top: 0.75em;
    padding-bottom: 0.5em;
    margin: 0em 0em;
}

h2 {
    margin-bottom: -0.25em;
    padding-top: 0.25em;
    font-size: 140%;
}

h3 {
    margin-bottom: -0.25em;
    padding-top: 0.25em;
    font-size: 120%;
}

h4 {
    margin-bottom: -0.25em;
    padding-top: 0.25em;
    font-size: 100%;
    text-decoration: underline;
}

h5 {
    font-size: 80%;
    margin-bottom: -0.25em;
    padding-top: 0.25em;
    text-decoration: underline;
}

hr {
    height: 1px;
    border: 0;
    color: #FF0000;
}

p, blockquote, ul, ol, dl, li, table, pre {
    margin: 1em 0;
}

code, pre {
    border-radius: 3px;
    background-color: #F0F0FF;
    color: #000;
}

code {
    /*font-size: 12px;*/
    border: 1px solid #EAEAEA;
    margin: 0 2px;
    padding: 0 5px;
}

pre {
    border: 1px solid #CCCCCC;
    line-height: 1.25em;
    overflow: auto;
    padding: 6px 10px;
    overflow-x:auto;/* Add scroll bar if code overflows */
    -moz-tab-size: 6; /*fix massive tabs*/
    -o-tab-size:   6;
    tab-size:      6;

}

pre > code {
    border: 0;
    margin: 0;
    padding: 0;
}

/*Link code from: http://mrmrs.io/links/ */


blockquote {
    margin: 1em 3em;
    color: #999;
    border-left: 2px solid #999;
    padding-left: 1em; 
}

.math.display {
    display:table;
    margin:0 auto;
}


/* Syntax highlighting stuff */
/* Generated by pandoc. */
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre
   { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none;}
td.lineNumbers { border-right: 1px solid #DADADA; text-align: right; color: #DADADA; padding-right: 5px; padding-left: 5px; }
td.sourceCode { padding-left: 5px; }
.sourceCode span.kw { color: #007020; font-weight: bold; }
.sourceCode span.dt { color: #902000; }
.sourceCode span.dv { color: #40a070; }
.sourceCode span.bn { color: #40a070; }
.sourceCode span.fl { color: #40a070; }
.sourceCode span.ch { color: #4070a0; }
.sourceCode span.st { color: #4070a0; }
.sourceCode span.co { color: #60a0b0; font-style: italic; }
.sourceCode span.ot { color: #007020; }
.sourceCode span.al { color: red; font-weight: bold; }
.sourceCode span.fu { color: #06287e; }
.sourceCode span.re { }
.sourceCode span.er { color: red; font-weight: bold; }

.sourceLine:hover { color:inherit; }

code {
    font-family: monospace; /*'Fantasque Sans Mono',*/ 
}

a {
  transition: color .4s;
  color: #265C83;
  text-decoration: none;
}

a:link,
a:visited { color: #265C83; }
a:hover   { color: #7FDBFF; }
a:active  {
  transition: color .3s;
  color: #007BE6;
}

.link { text-decoration: none; }