.DS_Store

cabal-dev

.virtualenv




# Hakyll compiled site
exec
_cache
_site
site
hakyll

dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
clearairturbulence-co-uk.cabal
.HTF/
.ghc.environment.*