sudo: false
language: generic
cache:
  directories:
  - "$HOME/.stack"

addons:
  apt:
    packages:
    - libgmp-dev
    - sshpass

before_install:
- mkdir -p ~/.local/bin
- export PATH=$HOME/.local/bin:$PATH
- travis_retry curl -L https://get.haskellstack.org/stable/linux-x86_64.tar.gz | tar
  xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'

install:
- stack --no-terminal --install-ghc test --only-dependencies --flag hakyll:-previewServer
  --flag hakyll:-watchServer -j $(nproc)
  
script:
- stack build
- stack exec site clean
- stack exec site build
- cp -r _site public
- ssh-keyscan ssh.phx.nearlyfreespeech.net >> ~/.ssh/known_hosts
- sshpass -e rsync -r public aharries_clearairturbulence@ssh.phx.nearlyfreespeech.net:/home/
- rm -rf public
env:
  global:
    secure: EIKq4HdeZ2ooycGYrD4KdeVBYd+pGhJM9Xi/sgKxnJq6fZMnisg6S3gOM8YIuNJZdKmMxFfbXE/5Nf1RJF1/dbqZIQ+ZB9Lumjj98o7u82Oh23HXVLCflhmz2EPF4XTHpAhvw8vezQWq9Hp40mtBqs4DKIxZjWrLNxWQRmyxvMceuG5TcBlUiAuNeL/sRKUHy9ihEWrt0fUgD7zaHxHkREWIztyPI7pvQv+9eW/RcJ0sT2Vlv3cJU9A3yZPlB2WIhXBBva7g1I4Knhf+25QWQv52Qkg94Cno7boDeLjP/dqAA+F6qM8l6dP38c3qwXFIvdbLEG9R7htcCs3yBw9MYLuFnNUJHwucHmQ57W0NyamDgJ1wG8Y0doIKPUnwLkRqyFWzX6ejEQF69Pyv4iQhjFljAG5aQ1e3oMIkzNyr1thCqllmy/upcuNsGyD8qX6fvDvLRptv/TYiyx/ylMrTmcJccp2ekFhaX1vDMGFaD2v8PcUb7M6wgoca03npg7z2Tqv6K14Hmk8A60ttvOgJ4TllIalGvvQ3m4EHF45bjKmVL9rgZn1hstibTa/X/jObq6HCxmU5AUvsAcFc1A33hFCgHgk3aLbuM81ihEBZwLhl27bWu/zwpETGzGhdtIn0hm+Vz0ePmrYqMN+kwR7YOspdK9Rwt/xxEtlHkzMRsms=
