sudo: false
language: generic
cache:
  directories:
  - "$HOME/.stack"
  - ".stack-work"
addons:
  apt:
    packages:
    - libgmp-dev
    - sshpass
before_install:
- mkdir -p ~/.local/bin
- export PATH=$HOME/.local/bin:$PATH
- travis_retry curl -L https://get.haskellstack.org/stable/linux-x86_64.tar.gz | tar
  xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'
- openssl aes-256-cbc -K $encrypted_7aa13d89ac08_key -iv $encrypted_7aa13d89ac08_iv
  -in key.enc -out key.prv -d
- chmod 0400 key.prv
install:
- stack --no-terminal --install-ghc test --only-dependencies --flag hakyll:-previewServer
  --flag hakyll:-watchServer -j $(nproc)
script:
- stack build
- stack exec site clean
- stack exec site build
- cp -r _site public
- ssh-keyscan ssh.phx.nearlyfreespeech.net >> ~/.ssh/known_hosts
- eval `ssh-agent -s`
- ssh-add key.prv
- cp key.prv ~/.ssh/key
- sshpass -e rsync -r public aharries_clearairturbulence@ssh.phx.nearlyfreespeech.net:/home/
- rm -rf public

SSHPASS:
  secure: ZXQxvDPmMvLPRXJr7eESOXjgfra/fNPMzqc63b7CmRcbaQB8NKRx4UlNl4L7+dsWugb5emUxYVDqRqIK5cVaHVvED9AOcKrPNiTJl7htnERoEkWGDWrFXwK/c74MD+b1TNNIOz5dwCMm/zRcETrYNRaBHD+DPqK2WKf+sr7jaXKTwNLz3x9m8NDg+sK3Yo2CCQaL2sxS8WSfoQO404uYJCuzNq0TnCO3PrP1JvXjYHM2HvjotUs9e4418ojnTBaYiSYhi4Vq7U90qoM01wR4ASTUI8TDCASKLp1avF9cVkekTB6A6HBv5qp99UJhwp+OovdzRkTJiuYAbZhQ08dBRAAe2B+UYaCe5TbuhajHP5WnJR8nIngt94eFuWX8LyJCk7rOIfbKXkSETmBpfyzP2YeyMx1/dWiMcEDwz4DxIrrQG8uqGIawLcB1tJTZ0i3hh7q5JEZyiVYLjfjAMiBXDtp58sIoP2vgxjGDURyO4fbqey6a210KyFtV1xKQct6LgTLMBqARwaEH0TVl/akxHC0/WVaKjHr4Kel3VawXuypYNpFVGcyIoVMFYR/Ynlb/8j6SvcZpd7PhJYM4FsGfk/xwqFf539ciJm3Ov4K0aVPHMHrHXNq4B3xmGITLxRAqZMF2xjwMW4CkowwAupaKuKJGBVdZegb/BEJivIJqUZg=
